body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    padding: 25px;
    width: 700px;
    border-radius: 14px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

h1 {
    color: #b30000;
}

textarea {
    width: 100%;
    height: 140px;
    padding: 10px;
    margin-top: 10px;
    font-size: 15px;
}

button {
    margin-top: 10px;
    padding: 12px 20px;
    background: #b30000;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #8f0000;
}

pre {
    margin-top: 20px;
    background: #f7f7f7;
    padding: 15px;
    border-radius: 8px;
    text-align: left;
    white-space: pre;
    font-family: "Courier New", monospace;
}
