/*Desimta uzduotis*/
body {
    font-family: Arial;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #fff;
    padding: 30px;
    width: 360px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.25);
}

h1 {
    color: #b30000;
    margin-bottom: 20px;
}

.clock {
    width: 220px;
    height: 220px;
    border: 8px solid #b30000;
    border-radius: 50%;
    margin: 0 auto 20px;
    position: relative;
    background: #fffdf5;
}

/* Hour numbers */
.numbers span {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: #b30000;
    left: 50%;
    top: 50%;

    /* SUKTA FORMULĖ – pradedame nuo 12 valandos */
    transform: 
        translate(-50%, -50%)
        rotate(calc(var(--i) * 30deg - 90deg))
        translate(85px)
        rotate(calc(90deg - var(--i) * 30deg));
}


.hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
    background: #b30000;
}

.hour {
    width: 6px;
    height: 60px;
    border-radius: 6px;
}

.minute {
    width: 4px;
    height: 85px;
    border-radius: 4px;
}

.minute.spin {
    animation: spin360 1.2s ease-out forwards;
}

@keyframes spin360 {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}

.center {
    width: 14px;
    height: 14px;
    background: #b30000;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

label {
    color: #b30000;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #ff6666;
    border-radius: 8px;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background: #ff1a1a;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #cc0000;
}

#result {
    margin-top: 20px;
    color: #b30000;
    font-size: 18px;
}
