/*Astunta uzudotis*/
body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    background: #fff;
    padding: 30px;
    width: 330px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

h1 {
    color: #b30000;
    font-size: 20px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
    color: #b30000;
}

input {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #ff1a1a;
    border-radius: 8px;
    font-size: 15px;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background: #ff1a1a;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #cc0000;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    color: #b30000;
}

.error {
    color: red;
    font-weight: bold;
}
