body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    width: 420px;
    padding: 30px;
    border-radius: 14px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

h1 {
    color: #b30000;
    margin-bottom: 15px;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    font-size: 15px;
    border-radius: 8px;
    border: 2px solid #ccc;
}

button {
    margin-top: 15px;
    padding: 12px;
    width: 100%;
    font-size: 16px;
    background: #b30000;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #8f0000;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
